@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* reseting all the default element properties*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Nunito', sans-serif;
}
/* Background header image*/
#header {
    position: relative;
}
#hero-image {
   
    background: url(../images/pexels-thgusstavo-santana-3052302.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
}
/* Logo and navigation*/
#logo {
    position: absolute;
    top: 0%;
    font-family: 'Allison', cursive;
    font-size: 60px;
    color: white;
    margin: 20px;

}
#header nav {
    position: absolute;
    left: 45%;
    top: 4%;
    margin-right: 100px;  
}
nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: #eee;
    font-size: 20px;
    letter-spacing: 1px;
    transition: color 0.2s;
}
#navbar a:hover {
    border-bottom: 2px solid #222;
    color: #222;
}
/* h2,p and form inputs*/
.content-container {
    width: 40%;
    margin: 40px auto;
}
input[type=text], input[type=email], input[type=date], input[type=time] {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    border: 2px solid #666;
}

input:focus {
  border-color:rgb(237, 186, 154);
  
}

.form-row {
    display: flex;
  }
  .col1 {
    width: 50%;
    padding-right: 10px;
    padding-top: 10px;
  }
  .col1 input {
    width: 100%;
  }
  .col2
  {
    width: 50%;
    padding-top: 10px;
  }
  .col2 input 
  {
    width: 100%;
  }
  #email_add {
    width: 100%;
    padding-top: 15px;
}
  #email_add input {
    width: 100%;
}
  .submit {
    padding-top: 10px;
    padding-right: 10px;
}
  .submit input {
    padding: 10px;
    background-color: rgb(237, 186, 154);
    border: none;
    border-radius: 3px;
}
  #term {
      padding-top: 20px;
  }
