@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}
/* Background header image*/
#header {
    position: relative;
}
#hero-image {
   
    background: url(../images/twoplanes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: top;
}
#logo {
    position: absolute;
    top: 0%;
    font-family: 'Dancing Script', cursive;
    color: white;
    margin-left: 10px;
}
#header > nav {
    position: absolute;
    right: 0%;
    top: 6%;
    margin-right: 100px;  
}
nav > a {
    padding: 10px 20px;
    text-decoration: none;
    color: #666;
    font-size: 16px;
    letter-spacing: 1px;
}
#navbar a:hover {
    border-bottom: 1px solid black;
    color: #000;
}
